<!--<% provide(:title, "Help") %>-->

<!DOCTYPE html>
<html>
  <head>
		<title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
		<h1>HELP - How to use the blog</h1>
		<p>Everyone can read the subjects in this blog, but just the registered users can post in it. </p>
    </p>
  </body>
</html>


